
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.dockerignore
Dockerfile
migrations/Version20211203084726.php
migrations/Version20211203084734.php
migrations/Version20211203084742.php
migrations/Version20211203100033.php
migrations/Version20211203101115.php
migrations/Version20211203101120.php
.env
.env
.env
migrations/Version20211203095842.php
